<div>
    <% if current_user %>
        <h1>Welcome <%= current_user.name %>!</h1>
    <div>
    <table class="table">
        <tbody>
            <tr>
                <th>Item</th>
                <th>Finshed/Unfinished</th>
                <th>Closed/Open</th>
                <th>Checkout Request</th>
                </tr>
                <% current_user.requests.each do |request| %>
                    <tr>
                        <td><%= request.item %></td>

                        <% if request.finished %>
                        <td class="text-success"><%= request.status %></td>
                      <% else %>
                        <td class="text-danger"><%= request.status %></td>
                        <% end %>

                        <% if request.user_closed?(current_user) %>
                        <td class="text-success">Closed</td>
                     <% else %>
                        <td class="text-warning">Open</td>
                        <% end %>

                        <td><%= link_to "Checkout", user_request_path(current_user, request) %></td>
                <% end %>
              </tr>
         </tbody>
     </table>
     </div>

     <p><%= link_to "Log Out", logout_path %></p>

     <% else %>
        <div>
            <h1>Welcome to the Ultimate Baby Party Planning Guide!</h1>

            <p class="text-secondary">This is the perfect place to organize the best baby party with a little help from your friends.</p>

            <p class="text-secondary">Please signup or login.</p>
          </div>
              <p><%= link_to "Sign Up", signup_path %></p>
              <p><%= link_to "Log In", login_path %></p>
              <p><%= link_to('Log in with Facebook!', '/auth/facebook') %></p>
      <% end %>
  </div>
