<h2>Please Log In</h2>

<p class="text-danger">
    <% unless flash[:message].nil? %>
        <%= flash[:message] %>
    <% end %>
</p>

<%= form_tag(login_path) do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <br>

    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br>

    <%= submit_tag "Sign In" %>

<% end %>
