<div>
    <div>
    <% if current_user == @user %>
        <% unless @untaken_user_requests.empty? %>
            <p class="text-warning"><b>This is a baby party help request, please accept:</b></p>
                <table class="table">
                <tbody>
                <tr>
                    <th>Requests</th>
                    <th>Accept</th>
                </tr>
                <% @untaken_user_requests.each do |user_request| %>
                    <tr>
                        <td><%= link_to user_request.request.item, user_request_path(user_request.user, user_request.request) %></td>
                        <td>
                        <%= form_for(user_request, url: users_request_path(user_request), method: :patch) do |f| %>
                        <%= f.hidden_field :taken, value: true %>
                       <%= f.submit "Accept Request" %>
                   <% end %>
                   </td>
               </tr>
           <% end %>
           </tbody>
           </table>
   <% end %>
  </div>
</div>
<div>
        <h1><%= @user.name %></h1>
        <p><%= link_to "Edit Info", edit_user_path(@user) %></p>
        <h2 class="text-secondary">Your Checklists:</h2>
    <% else %>
        <h1><%= @user.name %>'s Page</h1>
        <h2 class="text-secondary">Their Checklists:</h2>
    <% end %>
    <div>
        <table class="table">
            <tbody>
                <tr>
                  <th>Item</th>
                    <th>Finished/Unfinished</th>
                    <th>Expand Checklist</th>
                </tr>
                <% @user.checklists.each do |checklist| %>
                    <tr>
                        <td><%= checklist.item %></td>
                    <% if checklist.checklist_finished? %>
                        <td class="text-success">Finished</td>
                    <% else %>
                        <td class="text-danger">Unfinished</td>
                    <% end %>
                    <td><%= link_to "Expand", user_checklist_path(@user, checklist) %></td>
                <% end %>
                </tr>
            </tbody>
        </table
        <% if current_user == @user %>
           <p><%= link_to "New Checklist", new_user_checklist_path(@user) %></p>
       <% end %>
   </div>
   <div>
   <% if current_user == @user %>
       <h2 class="text-secondary">Your Requests:</h2>
       <% else %>
       <h2 class="text-secondary">Their Requests:</h2>
   <% end %>
       <table class="table">
       <table class="table">
       <tbody>
           <tr>
              <th>Item</th>
              <th>Finished/Unfinished</th>
              <th>Taken/Untaken</th>
              <th>See Request</th>
             </tr>
             <% @user.requests.each do |request| %>
                 <tr>
                     <td><%= request.item %></td>
                     <% if request.finished %>
                     <td class="text-success"><%= request.status %></td>
                     <% else %>
                     <td class="text-danger"><%= request.status %></td>
                     <% end %>
                     <% if request.user_taken?(@user) %>
                     <td class="text-success">taken</td>
                     <% else %>
                     <td class="text-warning">untaken</td>
                     <% end %>
                     <td><%= link_to "See", user_request_path(@user, request) %></td>
             <% end %>
             </tr>
         </tbody>
         </table>
     </div>
 </div>
