<div class="container">
    <div class="row">
        <div class="col-sm">
          <h1><%= @request.item %></h1>
          <% if @request.finished %>
              <p class="text-info"><span class="border border-success">Note: <%= @request.note %></span></p>
        <% else %>
              <p class="text-info"><span class="border border-danger">Note: <%= @request.note %></span></p>
            <% end %>
            <p class="text-secondary">Return to Checklist: <%= link_to @request.checklist.item, checklist_path(@request.checklist) %></p>
            <% if !@request.finished %>
                <p class="text-info"><span class="text-danger">Status: <%= @request.status %></span></p>
            <% end %>

            <%= form_for(@request, url: {controller: 'requests', action: 'update'}) do |f| %>
