<div class="container">
    <div class="row">
        <div class="col-sm">
          <h1><%= @request.item %></h1>
          <% if @request.finished %>
              <p class="text-info"><span class="border border-success">Note: <%= @request.note %></span></p>
        <% else %>
              <p class="text-info"><span class="border border-danger">Note: <%= @request.note %></span></p>
            <% end %>
            <p class="text-secondary">Return to Checklist: <%= link_to @request.checklist.item, checklist_path(@request.checklist) %></p>
            <% if !@request.finished %>
                <p class="text-info"><span class="text-danger">Status: <%= @request.status %></span></p>
            <% end %>

             <%= form_for(@request, url: {controller: 'requests', action: 'update'}) do |f| %>

                <% if @request.finished %>
                <%= f.hidden_field :finished, value: false  %>
                <% else %>
                <%= f.hidden_field :finished, value: true %>
                <% end %>

                <%= f.submit @request.finished_label, class: @request.finished_klass %>
            <% end %>

          </div>
         <div class="col-sm">
             <% if current_user.checklist_requests(@request.checklist).include?(@request) %>
                 <p><%= link_to "Edit Request", edit_user_request_path(@request) %></p>
                 <p><b>Give this request to a User:</b></p>

                 <%= form_for @request, url: {controller: 'requests', action: 'update'} do |f|%>
                     <%= collection_check_boxes(:request, :user_ids, User.all, :id, :name) %>
                     <br>
                     <%= f.submit "Update Requests" %>
                 <% end %>
             <% end %>
         <div class="p-3">
             <p><b>Users Given Request:</b></p>

             <% if @request.users %>
                <ul>
                <% @request.users.each do |user| %>
                    <li>
                        <%= link_to user.name, user_path(user) %>
                        <% if @request.open_users.include?(user) %>
                           <span class="text-warning">Open</span>
                        <% end %>
                    </li>
                <% end %>
                </ul>
            <% end %>
        </div>
        </div>
    </div>
        <% if @request.checklist.user == current_user %>
            <p>
                <%= form_for @request, method: :delete do |f|%>
                    <%= f.submit "Delete Request", class: "text-danger" %>
                <% end %>
            </p>
        <% end %>
</div>
