<div>
    <table class="table">
    <tbody>
        <tr>
            <th>Checklists &nbsp;</th>
            <th>Finished/Unfinished &nbsp;</th>
            <th>See Requests &nbsp;</th>
        </tr>
        <% @checklists.each do |checklist| %>
        <tr>
            <td><%= checklist.item %></td>
            <% if checklist.checklist_finished? %>
                <td class="text-success">Finished</td>
            <% else %>
                <td class="text-danger">Unfinished</td>
            <% end %>
            <td><%= link_to "Open", checklist_path(checklist) %></td>
        <% end %>
        </tr>
        </tbody>
    </table>
    <div>
      <%= link_to "Show the Users with Most Requests", checklists_users_with_most_requests_path(@checklist)%><br>
    </div>
    <div>
      <%= link_to "Requests Not Taken", checklists_requests_untaken_path(@checklist)%>
    </div>

    <p><%= link_to "Create a New Request Checklist", new_user_checklist_path(current_user) %></p>

</div>
