<h1><%= @checklist.item %></h1>

<h5 class="text-secondary">Created by: <%= link_to @checklist.user.name, user_path(@checklist.user) %> </h5>

<% if current_user.checklists.include?(@checklist) %>
    <p><%= link_to "Change Item", edit_user_checklist_path(@checklist) %></p>

    <p><%= link_to "Add a Request", new_checklist_request_path(@checklist) %></p>

<% end %>

<div>

    <table class="table">
      <tbody>
      <tr>
          <th>Request</th>
          <th>Finished/Unfinished</th>
          <th>See Request</th>
      </tr>

      <% @checklist.requests.each do |request| %>
          <tr>
              <td><%= request.item %></td>
              <% if request.finished %>
              <td class="text-success"><%= request.status %></td>
              <% else %>
              <td class="text-danger"><%= request.status %></td>
              <% end %>
              <td><%= link_to "See", checklist_request_path(@checklist, request) %></td>

          <% end %>
          </tr>

      </tbody>
      </table>

         <% if current_user.checklists.include?(@checklist) %>
         <p>
           <%= form_for @checklist, method: :delete do |f| %>
               <%= f.submit "Delete Checklist", class: "text-danger" %>
           <% end %>
       </p>

<% end %>

</div>
