<!DOCTYPE html>
<html>
  <head>
    <title>BabyGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
          <% if current_user %>
          <a class="navbar-brand" href="<%= user_path(current_user) %>"/>Profile Page</a>
          <a class="navbar-brand" href="<%= checklists_path %>"/>Checklists</a>
          <a class="navbar-brand" href="<%= logout_path %>"/>Log Out</a>
          <% end %>
          </div>

        </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
